:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
 

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #1c27ec;
  text-decoration: inherit;
}
a:hover {
  color: #02087c;
}

body {
  color: #fff;
  background-image: url('./assets/fondo.png');
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: auto;
}
.containerBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.body {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  width: fit-content;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;

}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

button {
  width: 150px;
  height: 50px;
  background-color: rgb(182, 181, 181);
  color: #747bff;
}

button .boton {
  width: 150px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #213547;
  cursor: pointer;
  transition: border-color 0.25s;
}
.boton:hover {
  border-color: #646cff;
}
.botonm:focus,
.boton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.imagenes {
  width: 200px;
  height: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .boton {
    background-color: #f9f9f9;
  }
}
